title: "Default Configuration"
type: "object"
properties:
  desiredState:
    title: "Desired State"
    type: "object"
    properties:
      meeting:
        type: "object"
        properties:
          url:
            title: "Meeting Url"
            type: "string"
      videoEnabled:
        title: "Enable Video"
        type: "boolean"
        default: false
      audioEnabled:
        title: "Enable Audio"
        type: "boolean"
        default: false
