title: "Default Configuration"
type: "object"
properties:
  options:
    title: "Options"
    type: "object"
    properties:
      url:
        title: "Meeting Url"
        type: "string"
      state:
        title: "State"
        type: "string"
        "enum": [
          'Join Meeting'
          'End Meeting'
        ]
        default: "End Meeting"
      enable_video:
        title: "Enable Video"
        type: "boolean"
        default: true
    required: [
      "url"
      "state"
      "enable_video"
    ]
